{% extends "layout.html" %} {% block body %}
<html>

<head>
    <title>Page administrateur</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/admin.css') }}">
    <script src="{{ url_for('static',filename='js/admin.js') }}"></script>
</head>

<body onload="openFirstForm()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" onclick="openForm(event, 'adduser')">
                    <a class="nav-link tablinks" href="#">Ajouter un utilisateur</a>
                </li>
                <li class="nav-item" onclick="openForm(event, 'deluser')">
                    <a class="nav-link tablinks" href="#deluser">Supprimer un utilisateur</a>
                </li>
                <li class="nav-item" onclick="openForm(event, 'changepsw')">
                    <a class="nav-link tablinks" href="#changepsw">Modifier un mot de passe</a>
                </li>
                <li class="nav-item" onclick="openForm(event, 'adddevice')">
                    <a class="nav-link tablinks" href="#adddevice">Ajouter un appareil</a>
                </li>
                <li class="nav-item" onclick="openForm(event, 'deldevice')">
                    <a class="nav-link tablinks" href="#deldevice">Supprimer un appareil</a>
                </li>
                <li class="nav-item" onclick="openForm(event, 'addposttype')">
                    <a class="nav-link tablinks" href="#addposttype">Ajouter un type de poste</a>
                </li>
                <li class="nav-item" onclick="openForm(event, 'changeadminpsw')">
                    <a class="nav-link tablinks" href="#changeadminpsw">Mot de passe admin</a>
                </li>
            </ul>
            <button class="btn btn-outline-danger my-2 my-sm-0"
                onclick="window.location.href='/logout';">Logout</button>
        </div>
    </nav>

    <div id="adduser" class="tabcontent">
        <form action="/admin/add_user" method="post">
            <div class="row">
                <div class="col-6">
                    <label for="uname"><b>Identifiant</b></label>
                    <br>
                    <input class="form-control" type="text" name="uname" required>
                    <br>
                    <label for="psw"><b>Mot de passe</b></label>
                    <br>
                    <input class="form-control" type="password" name="psw" required>
                    <br>
                    <label for="poste"><b>Poste tenu</b></label>
                    <br>
                    <select class="form-control" name="poste" id="adduser-poste" onchange="changeSite(this,'adduser')">
                        {% for poste in postes %}
                        <option value="{{poste[0]}}" name="{{poste[1]}}">{{poste[0]}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <div class="col-6">
                    <label for="site"><b>Site</b></label>
                    <br>
                    <select class="form-control" name="site" id="adduser-site" onchange="changeChaine('adduser')">
                        <option value=""></option>
                        {% for site in sites %}
                        <option value="{{site}}" name="adduser{{site}}" style="display: none;">{{site}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="chaine"><b>Chaine/Service</b></label>
                    <br>
                    <select class="form-control" name="chaine" id="adduser-chaine">
                        <option value=""></option>
                        {% for chaine in chaines %}
                        <option name="adduser{{chaine[1]}}" value="{{chaine[0]}}" style="display: none;">{{chaine[0]}}
                        </option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="ligne"><b>Ligne de production</b></label>
                    <br>
                    <select class="form-control" name="ligne" id="adduser-ligne">
                        {% for ligne in lignes %}
                        <option value="{{ligne}}">{{ligne}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-10 error">
                    {% if error %}
                    <strong>Info :</strong> {{ error }}
                    {% endif %}
                </div>
                <div class="col-2">
                    <button class="btn btn-success" type="submit">Ajouter</button>
                </div>
            </div>
        </form>
    </div>

    <div id="deluser" class="tabcontent">
        <form action="/admin/delete_user" method="post">
            <div class="row">
                <div class="col-6">
                    <label for="uname"><b>Identifiant utilisateur</b></label>
                    <br>
                    <select class="form-control" name="uname" id="deluser">
                        {% for utilisateur in utilisateurs %}
                        <option value="{{utilisateur}}">{{utilisateur}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <div class="col-10 error">
                    {% if error %}
                    <strong>Info :</strong> {{ error }}
                    {% endif %}
                </div>
                <div class="col-4">
                    <button class="btn btn-success" type="submit">Supprimer</button>
                </div>
            </div>
        </form>
    </div>

    <div id="changepsw" class="tabcontent">
        <div class="form">
            <form action="/admin/change_password" method="post">
                <label for="username"><b>Identifiant utilisateur</b></label>
                <br>
                <select class="form-control" name="username" id="changepsw">
                    {% for utilisateur in utilisateurs %}
                    <option value="{{utilisateur}}">{{utilisateur}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="new_psw"><b>Nouveau mot de passe</b></label>
                <br>
                <input class="form-control" type="password" name="new_psw" required>
                <br>
                <label for="new_psw2"><b>Confirmez le nouveau mot de passe</b></label>
                <br>
                <input class="form-control" type="password" name="new_psw2" required>
                <br>
                <div class="col-10 error">
                    {% if error %}
                    <strong>Info :</strong> {{ error }}
                    {% endif %}
                </div>
                <br>
                <button class="btn btn-success" type="submit">Valider</button>
            </form>
        </div>
    </div>

    <div id="adddevice" class="tabcontent">
        <form action="/admin/add_device" method="post">
            <div class="row">
                <div class="col-6">
                    <label for="type"><b>Type</b></label>
                    <br>
                    <select class="form-control" name="type">
                        {% for type_app in types %}
                        <option value="{{type_app}}">{{type_app}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="site"><b>Site de production</b></label>
                    <br>
                    <select class="form-control" name="site" id="adddevice-site" onchange="changeChaine('adddevice')">
                        {% for site in sites %}
                        <option value="{{site}}">{{site}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <div class="col-6">
                    <label for="chaine"><b>Chaine de production</b></label>
                    <br>
                    <select class="form-control" name="chaine" id="adddevice-chaine">
                        <option value=""></option>
                        {% for chaine in chaines %}
                        <option name="adddevice{{chaine[1]}}" value="{{chaine[0]}}" style="display: none;">{{chaine[0]}}
                        </option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="ligne"><b>Ligne de production</b></label>
                    <br>
                    <select class="form-control" name="ligne" id="adddevice-ligne">
                        {% for ligne in lignes %}
                        <option value="{{ligne}}">{{ligne}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-10 error">
                    {% if error %}
                    <strong>Info :</strong> {{ error }}
                    {% endif %}
                </div>
                <div class="col-2">
                    <button class="btn btn-success" type="submit">Ajouter</button>
                </div>
            </div>
        </form>
    </div>

    <div id="deldevice" class="tabcontent">
        <form action="/admin/delete_device" method="post">
            <div class="row">
                <div class="col-6">
                    <label for="appareil"><b>Appareil</b></label>
                    <br>
                    <select class="form-control" name="appareil" id="deldevice">
                        {% for appareil in appareils %}
                        <option value="{{appareil}}">{{appareil}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <div class="col-10 error">
                    {% if error %}
                    <strong>Info :</strong> {{ error }}
                    {% endif %}
                </div>
                <div class="col-4">
                    <button class="btn btn-success" type="submit">Supprimer</button>
                </div>
            </div>
        </form>
    </div>

    <div id="addposttype" class="tabcontent">
        <form action="/admin/add_post_type" method="post">
            <div class="row">
                <div class="col-6">
                    <label for="poste"><b>Poste</b></label>
                    <br>
                    <input class="form-control" type="text" name="poste" required>
                    <br>
                    <label for="niv_resp"><b>Niveau de responsabilité</b></label>
                    <br>
                    <select class="form-control" name="niv_resp">
                        {% for niv_resp in nivs_resp %}
                        <option value="{{niv_resp}}">{{niv_resp}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="app_vus"><b>Type d'appareil en visibilité</b></label>
                    <br>
                    <select class="form-control" name="type_for_poste" multiple>
                        {% for type_for_poste in types_for_poste %}
                        <option value="{{type_for_poste}}">{{type_for_poste}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-10 error">
                    {% if error %}
                    <strong>Info :</strong> {{ error }}
                    {% endif %}
                </div>
                <div class="col-2">
                    <button class="btn btn-success" type="submit">Ajouter</button>
                </div>
            </div>
        </form>
    </div>

    <div id="changeadminpsw" class="tabcontent">
        <div class="form">
            <form action="/admin/change_admin_password" method="post">
                <label for="input_psw"><b>Mot de passe actuel</b></label>
                <br>
                <input class="form-control" type="password" name="input_psw" required>
                <br>
                <label for="new_psw"><b>Nouveau mot de passe</b></label>
                <br>
                <input class="form-control" type="password" name="new_psw" required>
                <br>
                <label for="new_psw2"><b>Confirmez le nouveau mot de passe</b></label>
                <br>
                <input class="form-control" type="password" name="new_psw2" required>
                <br>
                <div class="col-10 error">
                    {% if error %}
                    <strong>Info :</strong> {{ error }}
                    {% endif %}
                </div>
                <br>
                <button class="btn btn-success" type="submit">Valider</button>
            </form>
        </div>
    </div>

</body>

</html>
{% endblock %}