<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Custom styles-->
    <link rel="icon" type="image/png" href="/static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard.css') }}">
    <script src="{{ url_for('static',filename='js/dashboard.js') }}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <label class="navbar-brand">{{username}}</label>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" onclick="openTab(event, 'dashboard')">
                    <a class="nav-link tablinks" href="#">Dashboard</a>
                </li>
                <li class="nav-item" onclick="openTab(event, 'historique')">
                    <a class="nav-link tablinks" href="#historique">Historique</a>
                </li>
                <li class="nav-item" onclick="openTab(event, 'changepsw')">
                    <a class="nav-link tablinks" href="#change_password">Modifier le mot de passe</a>
                </li>
            </ul>
            <button class="btn btn-outline-danger my-2 my-sm-0"
                onclick="window.location.href='/logout';">Logout</button>
        </div>
    </nav>

    <div id="tab-dashboard" class="tabcontent">
        <div class="left">
            <div class="error">
                {% if error %}
                <strong>Info :</strong> {{ error }}
                {% endif %}
            </div>
            {% for appareil in appareils %}
            <div class="graph-container" id=container-{{appareil}}>
                <canvas id={{appareil}} class="graph"></canvas>
            </div>
            {% endfor %}
        </div>

        <div class="right">
            <div class="top">
                <h3>View</h3>
                {% for appareil in appareils %}
                <input type="checkbox" class="form-check-input" id=checkbox-{{appareil}} onclick="check(this);" checked>
                <label class="form-check-label">{{appareil}}</label>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="tab-historique" class="tabcontent">

    </div>

    <div id="tab-changepsw" class="tabcontent">
        <div class="form">
            <form action="/change_password" method="post">
                <label for="input_psw"><b>Mot de passe actuel</b></label>
                <br>
                <input class="form-control" type="password" name="input_psw" required>
                <br>
                <label for="new_psw"><b>Nouveau mot de passe</b></label>
                <br>
                <input class="form-control" type="password" name="new_psw" required>
                <br>
                <label for="new_psw2"><b>Nouveau mot de passe</b></label>
                <br>
                <input class="form-control" type="password" name="new_psw2" required>
                <br>
                <div class="col-10 error">
                    {% if error %}
                    <strong>Info :</strong> {{ error }}
                    {% endif %}
                </div>
                <br>
                <button class="btn btn-success" type="submit">Valider</button>
                
            </form>
        </div>
    </div>


    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</body>

</html>