html,body{
    background-image: url("../img/iot-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
.navbar {
    opacity: 0.8;
}