html, body {
    background-image: url("../img/iot-background.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    position: relative
}

.navbar {
    opacity: 0.8;
    vertical-align: middle;
}

.tabcontent {
    display: none;
}

.graph-container {
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin: 30px;
}

.right {
    width: 25%;
}

.left {
    width: 70%;
}

.top {
    position: absolute;
    top: 40px;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin: 30px;
}

.form {
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin: 30px;
}

.error {
    color: red;
}

.historique {
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    align-content: center;
    height: auto;
    width: 60%;
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

table, td, th {
    border: 1px solid black;
}